.pokemon-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.pokemon-card {
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    background-color: #fff;
}

.pokemon-card-img {
    border-radius: 10px;
    background-color: #f2f2f2;
}

.pokemon-card-img > img {
    min-width: 200px;
    max-width: 100%;
}

.pokemon-card-number {
    margin-left: 5px;
    margin-top: 6px;
    font-weight: 700;
    font-size: 0.8em;
    color: #8a8a8a;
}

.pokemon-card-name {
    margin-left: 5px;
    font-size: 0.8em;
}

.pokemon-card-types {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.pokemon-card-type {
    font-weight: 500;
    border-radius: 30px;
    font-size: 0.9em;
    padding: 5px;
    background-color: yellow;
}

/* Types color */
.pokemon-card-type--grass {
    background-color: #9bcc50;
    color: #212121;
}

.pokemon-card-type--poison {
    background-color: #b97fc9;
    color: #fff;
}

.pokemon-card-type--water {
    background-color: #4592c4;
    color: #fff;
}

.pokemon-card-type--fire {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
}

.pokemon-card-type--fly {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.pokemon-card-type--bug {
    background-color: #729f3f;
    color: #fff;
}

.pokemon-card-type--normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}

.pokemon-card-type--eletric {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
}

.pokemon-card-type--ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}

.pokemon-card-type--fairy {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}

.pokemon-card-type--fighting {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff;
}

.pokemon-card-type--psychic {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}

.pokemon-card-type--rock {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff;
}

.pokemon-card-type--steel {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121;
}

.pokemon-card-type--ice {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121;
}

.pokemon-card-type--ghost {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff;
}

.pokemon-card-type--dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff;
}