<div class="pokemon-card-container">
    
    <div class="pokemon-card">
        
        <div class="pokemon-card-img">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
        </div>

        <div class="pokemon-card-number">
            <span>N 001</span>
        </div>

        <div class="pokemon-card-name">
            <h1>Bulbassaur</h1>
        </div>

        <div class="pokemon-card-types">
            <div class="pokemon-card-type pokemon-card-type--grass">
                <span>Grass</span>
            </div>

            <div class="pokemon-card-type pokemon-card-type--poison">
                <span> Poison</span>
            </div>
        </div>

    </div>



    <div class="pokemon-card">
        
        <div class="pokemon-card-img">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
        </div>

        <div class="pokemon-card-number">
            <span>N-001</span>
        </div>

        <div class="pokemon-card-name">
            <h1>Bulbassaur</h1>
        </div>

        <div class="pokemon-card-types">
            <div class="pokemon-card-type pokemon-card-type--grass">
                <span>Grass</span>
            </div>

            <div class="pokemon-card-type pokemon-card-type--poison">
                <span> Poison</span>
            </div>
        </div>

    </div>

    <div class="pokemon-card">
        
        <div class="pokemon-card-img">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
        </div>

        <div class="pokemon-card-number">
            <span>N-001</span>
        </div>

        <div class="pokemon-card-name">
            <h1>Bulbassaur</h1>
        </div>

        <div class="pokemon-card-types">
            <div class="pokemon-card-type pokemon-card-type--grass">
                <span>Grass</span>
            </div>

            <div class="pokemon-card-type pokemon-card-type--poison">
               <span> Poison</span>
            </div>
        </div>

    </div>


</div>